[submodule "percona-xtradb-cluster-galera"]
    path = percona-xtradb-cluster-galera
    url = https://github.com/venkatesh-prasad-v/galera
    branch = 8.0-PXC-3416
[submodule "wsrep-lib"]
    path = wsrep-lib
    url = https://github.com/percona/wsrep-lib.git
    branch = percona-4.x-8.0
