[submodule "percona-xtradb-cluster-galera"]
	path = percona-xtradb-cluster-galera
	url = https://github.com/venkatesh-prasad-v/galera
	branch = codership_merge_25.3.37_to_3.x-5.7
[submodule "wsrep-API"]
	path = wsrep/src
	url = https://github.com/percona/wsrep-API.git
	branch = percona-3.x-5.7-v31
[submodule "extra/coredumper"]
	path = extra/coredumper
	url = https://github.com/Percona-Lab/coredumper.git
